---
version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: docker
    directory: /docker
    schedule:
      interval: weekly

  - package-ecosystem: docker-compose
    directory: /docker
    schedule:
      interval: weekly

  - package-ecosystem: pre-commit
    directory: /
