---
name: Build

"on":
  push:
    branches:
      - master
  pull_request:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - uses: docker/setup-buildx-action@v3.11.1
        id: setup-buildx

      - uses: actions/cache@v4.3.0
        id: cache
        with:
          path: cache-mount
          key: cache-mount-${{ hashFiles('docker/Dockerfile') }}

      - name: Restore Docker cache mounts
        uses: reproducible-containers/buildkit-cache-dance@v3.3.0
        with:
          builder: ${{ steps.setup-buildx.outputs.name }}
          cache-dir: cache-mount
          dockerfile: docker/Dockerfile
          skip-extraction: ${{ steps.cache.outputs.cache-hit }}

      - name: Build
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: docker/Dockerfile
          load: true
          target: production
          tags: mitch-jensen/movie_database:ci

      - name: Run Docker infra tests
        working-directory: docker/tests
        run: |
          curl -fsSL https://goss.rocks/install | sh
          dgoss run mitch-jensen/movie_database:ci
