---
name: Test

"on":
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Setup Python and uv
        uses: astral-sh/setup-uv@v7.1.4

      - name: Run Tests
        run: uv run --frozen pytest --junitxml=junit/test-results.xml --cov=movie_database --cov-report=xml --cov-report=html

      - name: Test Report
        uses: dorny/test-reporter@v2.1.1
        if: ${{ !cancelled() }}
        with:
          name: Python Test
          path: junit/test-results.xml
          reporter: java-junit
